
@mixin row($offset, $columns, $gutter) {
    width: 100%;
    &-column{
        display: grid;
        grid-template-columns: repeat($columns , 1fr);
        gap: $gutter;
    }
    &-bleed{
        padding-right: $offset;
        padding-left: $offset;
    }
    &-fullScreen{
        height: 100vh;
    }
  }

  .row{
    @include row(10rem , 12 , 6rem);
    @include desktop { @include row(10rem , 12 , 6rem)}
    @include laptop { @include row(5rem , 8 , 5rem)}
    @include tablet { @include row(5rem , 8 , 5rem)}
    @include phablet { @include row(3rem , 4 , 3rem)}
    @include phone { @include row(3rem , 4 , 3rem)}
}