.header{
    //background-color: white;
    width: 100%;
    z-index: 200;
    position: absolute;
    transition: $fastMotion;
    &--dark{
        & a{
            color:$cream;;
        }
        & svg{
            fill:$cream;;
        }
    }
    @include tablet{
        position: fixed;
    }
    &-logo{
        width: 36rem;
    }
    &-tagline{
        width: 36rem;
        margin-top: 2rem;
        height: 5rem;
        @include tablet{
            display: none;
        }
    }
    &-container{
        display: flex;
        justify-content: center;
        padding: 5rem 0 4rem 0;
        @include tablet{
            padding: 5rem 0;
        }
        @include phablet{
            padding: 3rem 0;
        }
    }
    &-right{
        justify-self: left;
        align-self: start;
        & a{
            @extend .cta;
            @extend .cta-light-2;
        }
    }
    &-left{
        justify-self: right;
        align-self: start;
        & a{
            @extend .cta;
            @extend .cta-light-2;
        }
    }
    &-items{
        & li{
            display: inline-block;
            padding: 1rem 3rem;
        }
        @include tablet{
            display: none;
        }
    }
    &-center{
        justify-self: center;
    }
    &-transparent{
        background-color: transparent;
    }
    &-hamico{
        display: none;
        padding: 5rem;
        position: fixed;
        top: 0;
        box-sizing: content-box;
        & > div{
            width: 5rem;
            height: 5rem;
            position: relative;
        }
        @include tablet{
            display: inline-block;
        }
        @include phablet{
            padding: 3rem;
        }
    }
    &-line{
        width: 4.2rem;
        height: 0.6rem;
        background-color: black;
        position: absolute;
        top:2.2rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
        &::before{
            content: "";
            width: 4.2rem;
            height: 0.6rem;
            background-color: black;
            position: absolute;
            top:-1.4rem;
            border-radius: 1rem;
            transition: $fastMotion;
        }
        &::after{
            content: "";
            width: 4.2rem;
            height: 0.6rem;
            background-color: black;
            position: absolute;
            top:1.4rem;
            border-radius: 1rem;
            transition: $fastMotion;
        }
        &--open{
            height: 0;
            background-color: $cream;
            &::before{
                content: "";
                top:0rem;
                transform: rotate(-45deg);
                background-color: $cream;
                transition: $fastMotion;
            }
            &::after{
                content: "";
                top:0rem;
                transform: rotate(45deg);
                background-color: $cream;
                transition: $fastMotion;
            }
        }
    }
    &-drawer{
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: black;
        top: 0%;
        opacity: 0;
        visibility: hidden;
        transition: $fastMotion;
        &--open{
            opacity: 1;
            visibility: visible;
            transition: $fastMotion;
        }
        @include tablet{
            display: block;
        }
        &-container{
            width: 100%;
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
        }
        &-menu{
            margin: 5rem 0;
            & li{
                text-align: center;
            }
            & a{
                color: $cream;
                padding: 2rem 3rem;
                margin-bottom: 2rem;
                @extend .cta;
                @extend .cta-bold-1;
            }
        }
        &-logo{
            fill: $cream;
            @include phone{
                display: none;
            }
        }
        &-tagline{
            margin-top: 2rem;
            fill: $cream;
            @include phone{
                display: none;
            }
        }
        &-lockup{
            margin: 0 auto;
            width: 54rem;
        }
        &-socials{
            & ul{
                text-align: center;
            }
            & li{
                display: inline-block;
            }
            & a{
                color: $cream;
                padding: 1rem 2rem;
                @extend .cta;
                @extend .cta-light-3;
            }
        }
        &-emails{
            & li{
                display: inline-block;
            }
            & a{
                color: $cream;
                padding: 1rem 2rem;
                @extend .cta;
                @extend .cta-light-3;
                @extend .link-dark;
            }
        }
    }
}
.star{
    width: 18rem;
    height: 18rem;
    position: fixed;
    bottom: 10rem;
    left: 10rem;
    z-index: 300;
    transition: $fastMotion;
    @include laptop{
        bottom: 5rem;
        left: 5rem;
    }
    @include phablet{
        bottom: 3rem;
        left: 3rem;
        width: 15rem;
        height: 15rem;
    }
    & svg{
        fill: #FCDC43;
    }
    &--hide{
        opacity: 0;
        transition: $fastMotion;
    }
    &-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 301;
        & span{
            display: block;
            font-family: $font-display;
            font-size: 3rem;
            text-align: center;
            line-height: 3rem;
            @include phablet{
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    }
}