$maxWidth-phone : 359px;
$maxWidth-phablet : 767px;
$maxWidth-tablet : 1023px;
$maxWidth-laptop : 1365px;
$minWidth-desktop : 1920px;

// 0 - 359 sPhone / 360 - 767 phone / 768 - 1023 tablet / 1365 - 1439 laptop / 1440 >  desktop

@mixin phone() {
    @media only screen and (max-width: $maxWidth-phone) {
      @content;
    }
}
@mixin phablet() {
    @media only screen and (max-width: $maxWidth-phablet) {
      @content;
    }
}
@mixin tablet() {
    @media only screen and (max-width: $maxWidth-tablet) {
      @content;
    }
}
@mixin laptop() {
    @media only screen and (max-width: $maxWidth-laptop) {
      @content;
    }
}
@mixin desktop() {
    @media only screen and (min-width: $minWidth-desktop) {
      @content;
    }
}