.freeze{
  overflow-y: scroll;
  position: unset;
  height: unset;
  @include tablet{
    overflow-y: hidden;
    position: fixed;
    height: 100vh;
  }
}
.main{
  background-color: white;
}
.link{
  &-light{
      display: flex !important;
    &:after{
      content: url(asset/link-light.svg);
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
      display: inline-block;
    }
  }
  &-dark{
      display: flex !important;
    &:after{
      content: url(asset/link-dark.svg);
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
      display: inline-block;
    }
  }
}