.freeze{
  overflow-y: scroll;
  position: unset;
  height: unset;
  @include tablet{
    overflow-y: hidden;
    position: fixed;
    height: 100vh;
  }
}
.main{
  background-color: white;
}
.link{
  &-light{
      display: flex !important;
    &:after{
      content: url(asset/link-light.svg);
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
      display: inline-block;
    }
  }
  &-dark{
      display: flex !important;
    &:after{
      content: url(asset/link-dark.svg);
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
      display: inline-block;
    }
  }
}

.swiper {
  width: 100%;
  &-dark{
    & p , h3{
      color: $cream;
    }
  }
  &-pagination{
    position: absolute;
    display: inline-block;
    width: unset !important;
    bottom: 10rem !important;
    right: 10rem !important;
    left: unset !important;
    @include laptop{
      bottom: 5rem !important;
      right: 5rem !important;
    }
    @include phablet{
      bottom: 3rem !important;
      right: 3rem !important;
    }
    &-bullet{
      width: 3rem;
      height: 3rem;
      @include phablet{
        width: 2rem; 
      height: 2rem;
      }
      }
    &-bullet-active{
      background-color: white;
      }
    }
  &-flavour{
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    background-image: url(asset/gorilla-back.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      gap: 6rem;
      padding: 21rem 0 10rem 0;
      //background: rgb(133, 100, 100);
      @include laptop{
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 15rem 5rem 6rem 5rem;  
      }
      @include tablet{
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 15rem 5rem 5rem 5rem;  
      }
      @include phablet{
        padding: 0rem 3rem 3rem 3rem;  
      }
      @include phone{
        gap: 3rem;
        padding: 0rem 3rem 3rem 3rem;    
      }
    }
    &-image{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 10px;
      flex: none;
      order: 0;
      flex-grow: 1;
      & img{
        width: 100rem;
        max-width: 100% ;
      }
      @include laptop{
      width: 70%;
      }
      @include tablet{
      flex: unset;
      order: unset;
      flex-grow: unset;
      }
      @include phablet{
      width: 50%;
      }
    }
    &-info{ 
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      & > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
      }
      }
    }
  &-button{
    display: block;
    text-align: center;
    @include phablet{
      bottom: 3rem;
    }

    @include phone{
      display: none;
      }
  }
}
.flavour{
  &-gorilla{
    background-image: url(asset/gorilla-back.svg);
  }
}