@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}

html {
  height: fill-available;
  font-size: 5px;
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 6px;
  }
}

.main {
  padding-top: 21rem;
}

.main-stick {
  padding-top: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: fill-available;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #EEE7DA;
  display: none;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.row {
  width: 100%;
}

.row-column {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 6rem;
}

.row-bleed {
  padding-right: 10rem;
  padding-left: 10rem;
}

.row-fullScreen {
  height: 100vh;
}

@media only screen and (min-width: 1920px) {
  .row {
    width: 100%;
  }
  .row-column {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 6rem;
  }
  .row-bleed {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .row-fullScreen {
    height: 100vh;
  }
}

@media only screen and (max-width: 1365px) {
  .row {
    width: 100%;
  }
  .row-column {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5rem;
  }
  .row-bleed {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .row-fullScreen {
    height: 100vh;
  }
}

@media only screen and (max-width: 1023px) {
  .row {
    width: 100%;
  }
  .row-column {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5rem;
  }
  .row-bleed {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .row-fullScreen {
    height: 100vh;
  }
}

@media only screen and (max-width: 700px) {
  .row {
    width: 100%;
  }
  .row-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .row-bleed {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .row-fullScreen {
    height: 100vh;
  }
}

@media only screen and (max-width: 359px) {
  .row {
    width: 100%;
  }
  .row-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .row-bleed {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .row-fullScreen {
    height: 100vh;
  }
}

.cta, .header-right a, .header-left a, .header-drawer-menu a, .header-drawer-socials a, .header-drawer-emails a, .footer-socials a, .footer-emails a, .footer-menu a {
  box-sizing: content-box;
  display: inline-block;
}

.cta-bold-1, .header-drawer-menu a {
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  font-size: 5rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.cta-bold-2, .footer-menu a {
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 5rem;
  text-transform: uppercase;
}

.cta-bold-3, .footer-emails a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.84rem;
  line-height: 3rem;
  text-transform: auto;
}

.cta-light-1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.cta-light-2, .header-right a, .header-left a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.cta-light-3, .header-drawer-socials a, .header-drawer-emails a, .footer-socials a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.body-1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3rem;
  text-transform: auto;
}

.body-2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3rem;
  text-transform: auto;
}

.body-3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2rem;
  text-transform: auto;
}

.body-4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: auto;
}

.subtitle-1 {
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3rem;
  text-transform: auto;
}

.subtitle-2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.84rem;
  line-height: 3rem;
  text-transform: auto;
}

.h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 5rem;
  text-transform: auto;
}

@media only screen and (max-width: 700px) {
  .h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 4rem;
    text-transform: auto;
  }
}

.display {
  text-transform: uppercase;
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  font-size: 24rem;
  line-height: 26rem;
  text-transform: auto;
}

@media only screen and (max-width: 1023px) {
  .display {
    font-family: "Dela Gothic One", cursive;
    font-weight: 400;
    font-size: 16rem;
    line-height: 20rem;
    text-transform: auto;
  }
}

@media only screen and (max-width: 700px) {
  .display {
    font-family: "Dela Gothic One", cursive;
    font-weight: 400;
    font-size: 12rem;
    line-height: 16rem;
    text-transform: auto;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.button-container {
  background-color: black;
  color: #EEE7DA;
  padding: 2rem 3rem;
  border: 0;
}

.freeze {
  overflow-y: scroll;
  position: unset;
  height: unset;
}

@media only screen and (max-width: 1023px) {
  .freeze {
    width: 100%;
    overflow-y: hidden;
    position: fixed;
    height: 100vh;
  }
}

.freeze-force {
  overflow: hidden;
}

.main {
  background-color: white;
}

.link-light, .footer-emails a {
  display: flex !important;
}

.link-light:after, .footer-emails a:after {
  content: url(asset/link-light.svg);
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  display: inline-block;
}

.link-dark, .header-drawer-emails a {
  display: flex !important;
}

.link-dark:after, .header-drawer-emails a:after {
  content: url(asset/link-dark.svg);
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  display: inline-block;
}

.swiper {
  width: 100%;
}

.swiper-dark p, .swiper-dark h3 {
  color: #EEE7DA;
}

.swiper-pagination {
  position: absolute;
  display: inline-block;
  width: unset !important;
  bottom: 10rem !important;
  right: 10rem !important;
  left: unset !important;
}

@media only screen and (max-width: 1365px) {
  .swiper-pagination {
    bottom: 5rem !important;
    right: 5rem !important;
  }
}

@media only screen and (max-width: 700px) {
  .swiper-pagination {
    bottom: 3rem !important;
    right: 3rem !important;
  }
}

.swiper-pagination-bullet {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 700px) {
  .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
  }
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-flavour {
  height: 100vh;
  height: fill-available;
  background-image: url(asset/gorilla-back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-flavour-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 6rem;
  padding: 21rem 0 10rem 0;
}

@media only screen and (max-width: 1365px) {
  .swiper-flavour-wrapper {
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 15rem 5rem 6rem 5rem;
  }
}

@media only screen and (max-width: 1023px) {
  .swiper-flavour-wrapper {
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 15rem 5rem 5rem 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .swiper-flavour-wrapper {
    padding: 0rem 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 359px) {
  .swiper-flavour-wrapper {
    gap: 3rem;
    padding: 0rem 3rem 3rem 3rem;
  }
}

.swiper-flavour-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.swiper-flavour-image img {
  width: 70rem;
  max-width: 100%;
}

@media only screen and (max-width: 1365px) {
  .swiper-flavour-image {
    width: 70%;
  }
}

@media only screen and (max-width: 1023px) {
  .swiper-flavour-image {
    flex: unset;
    order: unset;
    flex-grow: unset;
  }
}

@media only screen and (max-width: 700px) {
  .swiper-flavour-image {
    width: 50%;
  }
}

.swiper-flavour-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.swiper-flavour-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.swiper-button {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .swiper-button {
    bottom: 3rem;
  }
}

@media only screen and (max-width: 359px) {
  .swiper-button {
    display: none;
  }
}

.flavour-gorilla {
  background-image: url(asset/gorilla-back.svg);
}

.cup {
  height: 100%;
}

.cup-container {
  width: 100%;
  height: 100%;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cup-slogan {
  color: black;
  max-width: 100%;
}

@media only screen and (max-width: 1023px) {
  .cup-slogan {
    font-size: 11vw;
    line-height: 11vw;
  }
}

.cup-cup {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, 0%);
}

.cup-cups {
  width: 100rem;
  height: 100rem;
  position: relative;
}

.cup-cups > img {
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 700px) {
  .cup-cups {
    width: calc(100vw - 6rem);
    height: calc(100vw - 6rem);
  }
}

.cup-leads {
  width: 100rem;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 700px) {
  .cup-leads {
    width: calc(100vw - 6rem);
  }
}

.cup-leads > img {
  width: 100%;
  position: absolute;
}

.cup-section {
  background-color: #EEE7DA;
}

.logoMotion {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: fill-available;
  z-index: 401;
}

.logoMotion-motion {
  width: 40vw;
}

@media only screen and (max-width: 1023px) {
  .logoMotion-motion {
    width: 60vw;
  }
}

@media only screen and (max-width: 700px) {
  .logoMotion-motion {
    width: 70vw;
  }
}

.logoMotion-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero {
  position: relative;
  background-color: black;
}

.hero-figure {
  transform-origin: center center;
  position: absolute;
}

.hero-container {
  min-height: 100vh;
  height: fill-available;
  overflow-x: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-rightTop {
    display: none;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-leftBottom {
    display: none;
  }
}

.hero-figures {
  width: 50%;
  min-height: 50vh;
  height: fill-available;
  position: relative;
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-figures {
    width: 100%;
  }
}

.hero-plant0 {
  width: 60%;
  top: -68%;
  left: 25%;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant0 {
    top: -40%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-plant0 {
    width: 70%;
    top: -40%;
  }
}

.hero-plant1 {
  width: 60%;
  top: 30px;
  right: 3%;
  z-index: 2;
}

.hero-plant2 {
  width: 30%;
  top: 10%;
  left: 30%;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant2 {
    width: 35%;
    left: 24%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-plant2 {
    width: 45%;
    left: 30%;
    top: 20%;
  }
}

.hero-plant3 {
  width: 30%;
  top: 4%;
  left: 10%;
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-plant3 {
    bottom: unset;
    top: 7%;
  }
}

.hero-plant4 {
  width: 70%;
  bottom: -26%;
  right: -20%;
  z-index: 2;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant4 {
    width: 80%;
    bottom: -24%;
    right: -18%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-plant4 {
    width: 71%;
    bottom: -20%;
    right: -17%;
  }
}

.hero-plant5 {
  width: 55%;
  bottom: -40px;
  left: 0%;
  z-index: 2;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant5 {
    width: 60%;
    bottom: 0;
  }
}

.hero-plant6 {
  width: 15%;
  bottom: -15%;
  left: 4%;
  transform: rotate(30deg);
  z-index: 2;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant6 {
    width: 20%;
    bottom: -20%;
    left: 13%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-plant6 {
    width: 25%;
    bottom: 18%;
    left: unset;
    right: 10%;
    z-index: 0;
  }
}

.hero-plant7 {
  width: 59%;
  bottom: 0%;
  right: 0%;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-plant7 {
    width: 62%;
    right: -10%;
  }
}

.hero-hippopotamus {
  width: 75%;
  height: 75%;
  bottom: 5%;
  left: -9%;
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-hippopotamus {
    width: 70%;
    height: 70%;
    left: -5%;
    bottom: 10%;
  }
}

.hero-tiger {
  width: 80%;
  height: 80%;
  top: 5%;
  right: -14%;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-tiger {
    right: -24%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-tiger {
    right: -5%;
    top: 0%;
    width: 65%;
    height: 58%;
  }
}

.hero-gorilla {
  width: 60%;
  height: 95%;
  bottom: 10%;
  right: 0;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-gorilla {
    width: 70%;
    height: 70%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-gorilla {
    width: 75%;
    height: 75%;
    right: -5%;
    bottom: 0%;
  }
}

.hero-polar_bear {
  width: 100%;
  height: 100%;
  top: 10%;
  left: -5%;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-polar_bear {
    width: 90%;
    height: 90%;
    left: 1%;
    top: 16%;
  }
}

.hero-iguana {
  width: 60%;
  height: 90%;
  top: -24%;
  left: 15%;
  transform: rotate(45deg);
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-iguana {
    width: 80%;
    height: 80%;
    top: 0%;
  }
}

.hero-turtles {
  width: 60%;
  height: 80%;
  bottom: -20px;
  left: 0;
}

@media (max-aspect-ratio: 4 / 3) {
  .hero-turtles {
    width: 70%;
    height: 70%;
    bottom: 10%;
    left: -10%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .hero-turtles {
    width: 75%;
    height: 76%;
    bottom: unset;
    top: 20%;
    left: -5%;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 400;
  opacity: 1;
  transition: 1s opacity ease;
}

.overlay--hide {
  opacity: 0;
  transition: 2s opacity ease;
}

.header {
  width: 100vw;
  z-index: 200;
  position: fixed;
  transition: 0.3s 0s all ease;
}

.header--dark a {
  color: #EEE7DA;
}

.header--dark svg {
  fill: #EEE7DA;
}

.header--dark .header-line {
  background-color: #EEE7DA !important;
}

.header--dark .header-line:before {
  background-color: #EEE7DA !important;
}

.header--dark .header-line:after {
  background-color: #EEE7DA !important;
}

@media only screen and (max-width: 1023px) {
  .header {
    position: fixed;
  }
}

.header-logo {
  width: 36rem;
}

.header-tagline {
  width: 36rem;
  margin-top: 2rem;
  height: 5rem;
}

@media only screen and (max-width: 1023px) {
  .header-tagline {
    display: none;
  }
}

.header-home > .header-left, .header-home > .header-right {
  width: 50%;
  transition: 0.3s 0s all ease;
}

.header-home > .header-center {
  max-width: 0;
  transition: 0.3s 0s all ease;
}

.header-home .header-lockup {
  opacity: 0;
  transition: 0.3s 0s all ease;
}

.header-lockup {
  opacity: 1;
  transition: 0.3s 0s all ease;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 5rem 0 4rem 0;
}

@media only screen and (max-width: 1023px) {
  .header-container {
    padding: 5rem 0;
  }
}

@media only screen and (max-width: 700px) {
  .header-container {
    padding: 3rem 0;
  }
}

.header-right {
  width: calc((100% - 36rem) / 2);
  transition: 0.3s 0s all ease;
}

.header-left {
  width: calc((100% - 36rem) / 2);
  transition: 0.3s 0s all ease;
  display: flex;
  justify-content: flex-end;
}

.header-items li {
  display: inline-block;
  padding: 1rem 3rem;
}

@media only screen and (max-width: 1023px) {
  .header-items {
    display: none;
  }
}

.header-center {
  width: 42rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.3s 0s all ease;
}

.header-transparent {
  background-color: transparent;
}

.header-hamico {
  display: none;
  padding: 5rem;
  position: fixed;
  top: 0;
  box-sizing: content-box;
}

.header-hamico > div {
  width: 5rem;
  height: 5rem;
  position: relative;
}

@media only screen and (max-width: 1023px) {
  .header-hamico {
    display: inline-block;
  }
}

@media only screen and (max-width: 700px) {
  .header-hamico {
    padding: 3rem;
  }
}

.header-line {
  width: 4.2rem;
  height: 0.6rem;
  background-color: black;
  position: absolute;
  top: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.header-line::before {
  content: "";
  width: 4.2rem;
  height: 0.6rem;
  background-color: black;
  position: absolute;
  top: -1.4rem;
  border-radius: 1rem;
  transition: 0.3s 0s all ease;
}

.header-line::after {
  content: "";
  width: 4.2rem;
  height: 0.6rem;
  background-color: black;
  position: absolute;
  top: 1.4rem;
  border-radius: 1rem;
  transition: 0.3s 0s all ease;
}

.header-line--open {
  height: 0;
  background-color: #EEE7DA;
}

.header-line--open::before {
  content: "";
  top: 0rem;
  transform: rotate(-45deg);
  background-color: #EEE7DA;
  transition: 0.3s 0s all ease;
}

.header-line--open::after {
  content: "";
  top: 0rem;
  transform: rotate(45deg);
  background-color: #EEE7DA;
  transition: 0.3s 0s all ease;
}

.header-drawer {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  top: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s 0s all ease;
}

.header-drawer--open {
  opacity: 1;
  visibility: visible;
  transition: 0.3s 0s all ease;
}

@media only screen and (max-width: 1023px) {
  .header-drawer {
    display: block;
  }
}

.header-drawer-container {
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.header-drawer-menu {
  margin: 5rem 0;
}

.header-drawer-menu li {
  text-align: center;
}

.header-drawer-menu a {
  color: #EEE7DA;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
}

.header-drawer-logo {
  fill: #EEE7DA;
}

@media only screen and (max-width: 359px) {
  .header-drawer-logo {
    display: none;
  }
}

.header-drawer-tagline {
  margin-top: 2rem;
  fill: #EEE7DA;
}

@media only screen and (max-width: 359px) {
  .header-drawer-tagline {
    display: none;
  }
}

.header-drawer-lockup {
  margin: 0 auto;
  width: 54rem;
}

.header-drawer-socials ul {
  text-align: center;
}

.header-drawer-socials li {
  display: inline-block;
}

.header-drawer-socials a {
  color: #EEE7DA;
  padding: 1rem 2rem;
}

.header-drawer-emails li {
  display: inline-block;
}

.header-drawer-emails a {
  color: #EEE7DA;
  padding: 1rem 2rem;
}

.star {
  width: 18rem;
  height: 18rem;
  position: fixed;
  bottom: 10rem;
  left: 10rem;
  z-index: 300;
  transition: 0.3s 0s all ease;
}

@media only screen and (max-width: 1365px) {
  .star {
    bottom: 5rem;
    left: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .star {
    bottom: 3rem;
    left: 3rem;
    width: 15rem;
    height: 15rem;
  }
}

.star svg {
  fill: #FCDC43;
}

.star--hide {
  opacity: 0;
  transition: 0.3s 0s all ease;
}

.star-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 301;
}

.star-text span {
  display: block;
  font-family: "Dela Gothic One", cursive;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}

@media only screen and (max-width: 700px) {
  .star-text span {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100vw;
}

@media only screen and (max-width: 1023px) {
  .footer {
    padding: 10rem 0;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    position: static;
  }
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1 / 5;
  padding: 20rem 0;
}

@media only screen and (max-width: 1365px) {
  .footer-contact {
    grid-column: 1 / 4;
  }
}

@media only screen and (max-width: 1023px) {
  .footer-contact {
    grid-column: 5 / 9;
    grid-row: 1;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .footer-contact {
    grid-column: 1 / 5;
    grid-row: 2;
    flex-direction: column;
    align-items: center;
  }
}

.footer-directContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-directContact h5 {
  color: #EEE7DA;
}

@media only screen and (max-width: 700px) {
  .footer-directContact h5 {
    display: none;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.footer-socials a {
  color: #EEE7DA;
  padding: 1rem 0rem;
}

.footer-socials ul {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .footer-socials ul {
    text-align: center;
    margin-top: 2rem;
  }
}

.footer-emails a {
  color: #EEE7DA;
  padding: 1rem 0rem;
}

@media only screen and (max-width: 700px) {
  .footer-emails a {
    justify-content: center;
  }
}

.footer-emails li {
  display: inline-block;
}

.footer-emails ul {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  grid-column: 9 / 13;
  padding: 20rem 0;
}

@media only screen and (max-width: 1365px) {
  .footer-menu {
    grid-column: 6 / 9;
  }
}

@media only screen and (max-width: 1023px) {
  .footer-menu {
    grid-column: 5 / 9;
    grid-row: 2;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .footer-menu {
    grid-column: 1 / 5;
    grid-row: 3;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}

.footer-menu a {
  color: #EEE7DA;
}

.footer-menu ul li:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
  .footer-menu ul li {
    text-items: center;
  }
}

.footer-menu-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-menu-right ul {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .footer-menu-right ul {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .footer-menu-right {
    margin-top: 1rem;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .footer-menu-left {
    text-align: center;
  }
}

.footer-copyright {
  color: #EEE7DA;
  padding: 1rem 0;
}

@media only screen and (max-width: 700px) {
  .footer-copyright {
    margin-top: 4rem;
    text-align: center;
  }
}

.footer-figures {
  position: relative;
}

.footer-figures img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-illustrations {
  grid-column: 5 / 9;
  height: 63rem;
  padding: 5rem 0;
}

@media only screen and (max-width: 1365px) {
  .footer-illustrations {
    grid-column: 4 / 6;
  }
}

@media only screen and (max-width: 1023px) {
  .footer-illustrations {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .footer-illustrations {
    grid-column: 1 / 5;
    grid-row: 1;
    margin-bottom: 5rem;
  }
}

.footer-figures {
  height: 100%;
}

.footer-figures img {
  height: 100%;
}
